/* buildingMetrics.css */

.content-wrapper {
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.date-picker-wrapper {
	margin-bottom: 20px;
}

.tabs-wrapper {
	margin-bottom: 20px;
}

.chart-container {
	margin-top: 20px;
	width: 70%;
}
